.mainView {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  width: 90vw;
  flex-basis: 1 1 0;
}

.tracksMenu {
  order: 1;
}

.predictionMenu {
  order: 2;
}

.menuTitle {
  font-size: 3.2rem;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.menuDescription {
  font-weight: 200;
  font-size: 1.7rem;
  color: var(--text-main);
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .mainView {
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .tracksMenu {
    order: 2;
  }
  
  .predictionMenu {
    order: 1;
  }
  
}


@media (max-width: 480px) {
  .menuTitle {
    font-size: 2.1rem;
  }

  .menuDescription {
    font-size: 1.1rem;
  }
}