.mainView {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  width: 90vw;
  flex-basis: 1 1 0;
}

.working {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-self: center;
  justify-content: center;
  flex-grow: 2;
}

.working .icon {
  font-size: 7rem;
  color: var(--text-primary);
}

.working span {
  font-size: 1.2rem;
  color: var(--text-main);
  font-weight: 100;
  margin-top: 1.5rem;
  text-align: center;
}

.tracksMenu {
  order: 1;
}

.predictionMenu {
  order: 2;
  display: flex;
  flex-flow: column nowrap;
}

.menuTitle {
  font-size: 3.2rem;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.menuDescription {
  font-weight: 200;
  font-size: 1.7rem;
  color: var(--text-main);
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .mainView {
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .tracksMenu {
    order: 2;
  }
  
  .predictionMenu {
    order: 1;
    min-height: calc(100vh - (2rem + 50px));
  }
  
}


@media (max-width: 480px) {
  .menuTitle {
    font-size: 2.1rem;
  }

  .menuDescription {
    font-size: 1.1rem;
  }
}